# [MAIN]
*.code-workspace
.pylintrc
*.zip

# [TERRAFORM]
/terraform/variables.tf

*.tfvars
.terraform*
.terraform.lock.hcl
*.tfstate*

# [WEATHER_NOTIFICATION]
weather_notification/*
!weather_notification/main.py
!weather_notification/requirements.txt

# [TELEGRAM BOT WEBHOOK]
telegram_bot_webhook/*
!telegram_bot_webhook/main.py
!telegram_bot_webhook/requirements.txt