variable "weather_notification_zip_path" {
  description = "Path to Python zip-file for AWS Lambda"
  default     = "./../weather_notification.zip"
}

variable "telegram_bot_webhook_zip_path" {
  description = "Path to Python zip-file for AWS Lambda"
  default     = "./../telegram_bot_webhook.zip"
}

variable "aws_account_id" {
  description = "AWS account id"
  default = ""
}

variable "aws_region" {
  description = "AWS region"
  default     = ""
}

variable "aws_secret_name" {
  description = "AWS secret name"
  default     = ""
}

variable "weather_api_key" {
  description = "Weather API Key"
  default = ""
}

variable "telegram_token" {
  description = "Telegram Token"
  default = ""
}
